.authors {
  padding: 30px;
}

.author-search-wrapper {
  margin-bottom: 30px;
}

.author-search-wrapper input {
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 21px;
}

.authors-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
